@model Employee

<form method="post" asp-action="Addemployee">
    <input asp-for="@Model.OrgCode" hidden />
    @*<input asp-for="@Model.Id" hidden />*@

    <div class="p-4 mt-3">
        <div class="row pb-2">
            <h2 class="text-primary bg-dark">Add Employee</h2>
        </div>
    </div>
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="@Model.FirstName"></label>
        <input asp-for="@Model.FirstName" class="form-control" />
        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.LastName"></label>
        <input asp-for="@Model.LastName" class="form-control" />
        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Cnic"></label>
        <input asp-for="@Model.Cnic" class="form-control" />
        <span asp-validation-for="@Model.Cnic" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Email"></label>
        <input asp-for="@Model.Email" class="form-control" />
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Password"></label>
        <input type="password" asp-for="@Model.Password" class="form-control" />
        <span asp-validation-for="@Model.Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Area.Name">Name of the Area</label>
        @*<input asp-for="@Model.Area.Name" class="form-control" />*@
        <select asp-for="@Model.Area.Name" class="form-select">
            <option selected>Select Area</option>
            <option value="Gulzar-e-Hijri">Gulzar-e-Hijri</option>
            <option value="Gulshan-E-Iqbal">Gulshan-E-Iqbal</option>
            <option value="Rawal Chowk">Rawal Chowk</option>
            <option value="F-7 Markaz">F-7 Markaz</option>
            <option value="C-10">C-10</option>
            <option value="Maymar">Maymar</option>
            <option value="Model Colony">Model Colony</option>
            <option value="Anarkali">Anarkali</option>
            <option value="Qissa khwani bazaar">Qissa khwani bazaar</option>
            <option value="Chowk Yadgaar">Chowk Yadgaar</option>
        </select>
        <span asp-validation-for="@Model.Area.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Area.City"></label>
        @*<input asp-for="@Model.Area.City" class="form-control" />*@
        <select asp-for="@Model.Area.City" class="form-select">
            <option selected>Select City</option>
            <option value="Karachi">Karachi</option>
            <option value="Lahore">Lahore</option>
            <option value="Islamabad">Islamabad</option>
            <option value="Peshawar">Peshawar</option>
        </select>
        <span asp-validation-for="@Model.Area.City" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Area.Province"></label>
        @*<input asp-for="@Model.Area.Province" class="form-control" />*@
        <select asp-for="@Model.Area.Province" class="form-select">
            <option selected>Select Province</option>
            <option value="Sindh">Sindh</option>
            <option value="Punjab">Punjab</option>
            <option value="KPK">KPK</option>
        </select>
        <span asp-validation-for="@Model.Area.Province" class="text-danger"></span>
    </div>
@*    @{
        Model.Employees.Add(obj);
    }*@
    <button type="submit" class="btn btn-primary">Add Employee</button>


</form>